
  .fa-google, .lin, .fa-instagram, .fa-twitter{
    color: white;
    padding: 0.2rem;
    font-size: 25px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    
  }
.fa{
    margin-left: 1rem;
}

  .userauth{
      width: 17vw;
      outline: 1px solid rgba(148, 187, 233, 1) ;
      margin-top: 6rem;
  }
  .or{
      color: white;
      text-align: center;
      font-size: 20px;
  }
  .line{
      width: 3vw;
  }
  .form-group > label{
      color: rgba(148, 187, 233, 1);
      font-weight: bolder;
  
  }
  .left{
    
  }

  input[type="email"], input[type="text"],
input[type="password"] {
  height: 30px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  
  

}
.donthaveanaccount{
    color: white;
}
.signinhere{
    color: rgba(148, 187, 233, 1);
    font-weight: bolder;
}


#loggingin {
  
    position: absolute;
    /* background gradient */
   background: black; 
    height: 73vh;
    width: 23vw;
    border-radius: 10px;
    /* box shadow */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    padding: 1rem;
    left: 50%;
    top:60%;
    margin-bottom: 50% !important;
    transform: translate(-50%, -50%);
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #loggingin > h1{
    position: absolute;
    top: -2%;
    left: 40%;
    color: white;
  }

  .body{
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    width: 100%;
    height: 100vh;
  }

  .fsignup{
      margin-top: -1rem;
  }
